div:nth-child(2n) {
  background-color: rgb(210, 204, 204);
}

.showData {
  box-sizing: border-box;
  border: 1px solid black;

  div:first-child {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;

    span:first-child {
      border: none;
    }
  }

  div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    span:first-child {
      margin: 5px;
      width: 4rem;
      border: 1px solid black;
      border-radius: 50%;
    }

    span {
      padding: 5px;
      width: 10rem;
      word-wrap: break-word;
      text-align: left;
    }
  }
}
